<br><br><br><br>
<div class="col-12">
    <!--Register-->
<div class="container text-center">
  <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <h3 class="fonts">Register</h3><br>
    <div class="form-group">
      <label for="txtEmail">
        <input #email="ngModel" ngModel class="form-control" type="text" required email name="email" placeholder="Enter Email...">

        <p *ngIf="!email.valid && email.touched" class="validators" style="color:red">please enter a valid email</p>

      </label>
    </div>
    <div class="form-group">
      <label for="txtUserName">
        <input #username="ngModel" ngModel class="form-control" type="text" name="username" placeholder="Enter Username..." required> 
        <p *ngIf="!username.valid && username.touched" style="color:red" class="validators">please enter a name</p>

      </label>
    </div>
    <div class="form-group">
      <label for="txtPassword">
        <input #password="ngModel" ngModel class="form-control" type="password" name="password" placeholder="Enter Password..." required>  
        <p *ngIf="!password.valid && password.touched" style="color:red" class="validators">please enter a name</p>


      </label>
    </div>
    <button type="submit" [disabled]="!myForm.valid" (click)="register(email.value, username.value, password.value)" class="btn btn-primary">Sign Up</button>
    <div style="color:red" *ngIf="failedRegister">Email already exists</div>
  </form>
</div>
</div>
